.formGroupNotifications{ 
    line-height: 1.5; 
} 
.cartFooter{
    background-color: transparent;
}
.pay-btn{
    background-color:#325990;
    width: 250px;
    color: white;
}
.btnNotification{
    margin-top: 20px;
}