
.labelServices{
    padding-right: 15px;
}
.dropdownRequests{
    width: 160px;
    height: 32px;
    background-color:$lightBlue;
    border-radius: 3px;
    font-weight:bold;
    border-color:#133a88;
    color: #005aab; 
   
}
.dropdownItem {
    color: #005aab;
    font-weight:bold;
    border-color:#133a88;
    background-color: $lightBlue;
    text-decoration: none;
}

